/* e2e-reporting.component.css */
.toolbar {
    display: flex;
    align-items: center;
    background-color: rgba(183, 183, 183, 0.737);
    border: 1px solid #111111;
    height: 30px;
  }
  
  .toolbar input {
    width: 20px;
    text-align: center;
  }
  
  .select{
    background-color: rgb(158, 158, 153);
  }

  table {
    width: 100%;
    border-collapse: separate;
  }
  
  th, td {
    font-size: smaller;
    padding: 1px; /* Adjust the padding as needed */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Optional: Add border bottom for each row */
  }
  
  th {
    background-color: #f2f2f2; /* Optional: Add background color to header row */
  }

.checkbox{
    width: 1px; /* Adjust the width as needed */
    height: 1px;
}
  
tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:nth-child(odd){
    background-color: rgb(253, 254, 255);
}

  